@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  box-sizing: border-box;
}

/* GLOBAL STYLES */

body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png);
}

button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: white;
  background-color:#4b7ccc;
  padding:4px;
  border: 1px solid #333;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.02);
}

button:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  
}

.App {
  display: flex;
}

/* SIDEBAR STYLES */

.app-sidebar {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.app-sidebar-header h1 {
  margin: 0;
  color:#333;
  font-family: Roboto;
  text-decoration: underline;
}

.app-sidebar-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}

.app-sidebar-note {
  padding: 25px;
  cursor: pointer;
}

.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}

.side-note-title{
  color:#4b7ccc;
}

.app-sidebar-note button {
  color: white;
  background-color: #ff0000;
  /* background-color:#4b7ccc; */
}
.app-sidebar-note button:hover {
  /* color:white; */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.app-sidebar-note p {
  margin: 10px 0;
}

.app-sidebar-note small {
  display: block;
  color: #999;
}

.app-sidebar-note:hover {
  background: #ddd;
}

.app-sidebar-note.active,
.app-sidebar-note.active small {
  background: #333;
  color: white;
}

/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.app-main {
  width: 70%;
  height: 100vh;
}

.app-main-note-edit,
.app-main-note-preview {
  height: 50vh;
}

.no-active-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color:#4b7ccc;
}

/* Editing */
.app-main-note-edit {
  padding: 25px;
}

.app-main-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.app-main-note-edit input {
  height: 50px;
  font-size: 2rem;
  font-family: inherit;
  border:1px solid black;
}
.app-main-note-edit 
textarea{
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif
}

/* Preview */
.app-main-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background-color: rgba(51, 51, 51, 0.486);
}

.preview-title {
  padding: 25px 25px 0px 25px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
  margin: 2px 0px;
  border:1px solid rgba(51, 51, 51, 0.534);
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
.alert {
  background-color:
    #fecf6d;
  font-weight: bold;
}

.signUpform,
.loginForm,
.forgotPaswd {
  margin: 12vh auto;
  width: 600px;
  max-width: 50vw;
  padding: 20px;
  /* min-height:100vh; */
  box-shadow: 1px 2px 4px black;
}

.logoutbtn {
  background-color: var(--primary);
  border: 1px solid #333;
  border-radius: 60px;
  max-width: 100px;
  width: 80px;
  margin: 2px auto;
  box-shadow: 1px 1px 2px black;
}
.logoutbtn Button {
  font-size: 14px;
  font-family: "Noto Serif";
  color: white;
}


.logoutbtn Button:hover {
  color: white;
}
@media screen and (max-width:638px) {

  .logoutbtn Button {
    font-size: 12px;
  }

 

  .signUpform,
  .loginForm,
  .forgotPaswd {
    margin: 8vh auto;
    width: 700px;
    max-width: 80vw;
    padding: 20px;
    /* min-height:100vh; */
    box-shadow: 1px 2px 4px black;
  }

  .signUpform h2,
  .loginForm h2,
  .forgotPaswd h2 {
    font-size: 16px;
  }


  .signUpform h4,
  .loginForm h4,
  .forgotPaswd h5 {
    font-size: 12px;
  }



  .signUpform Button,
  .loginForm Button,
  .forgotPaswd Button {
    font-size: 12px;
  }

  .alert {
    font-size: 12px;
  }

}


@media screen and (max-width:360px) {

  .alert {
    font-size: 8px;
  }

  .signUpform,
  .loginForm,
  .forgotPaswd {
    margin: 8vh auto;
    width: 700px;
    max-width: 80vw;
    padding: 20px;
    /* min-height:100vh; */
    box-shadow: 1px 2px 4px black;
  }

  .signUpform h2,
  .loginForm h2,
  .forgotPaswd h2 {
    font-size: 16px;
  }


  .signUpform h4,
  .loginForm h4,
  .forgotPaswd h5 {
    font-size: 12px;
  }

  .signUpform Button,
  .loginForm Button,
  .forgotPaswd Button {
    font-size: 10px;
  }

  .signUpform Link,
  .loginForm Link,
  .forgotPaswd Link {
    font-size: 8px;
  }
}